@page "/interop/performance/set"

<h1>Interop Set Performance</h1>

<div class="testing-content">
    <InteropSetDecimalTest />
    <InteropSetFloatTest />
    <InteropSetIntTest />
    <InteropSetTest />
</div>