@using System.Diagnostics
@using EventHorizon.Blazor.Interop;

<div>
    <h3>Interop Get Int Test</h3>
    <ReportTimeTaken Runs="_max" TimeTaken="TimeTaken" />
    <button @onclick="HandleRunTest">Run</button>
</div>

@code {
    public TimeSpan TimeTaken { get; set; }

    const int _max = 1_000;
    private void HandleRunTest()
    {
        var expected = 999;
        var s1 = Stopwatch.StartNew();
        for (int i = 0; i < _max; i++)
        {

            var actual = RunTest();
            if (actual != expected)
            {
                throw new Exception("Invalid result");
            }
        }
        s1.Stop();
        TimeTaken = s1.Elapsed;
        Console.WriteLine(((double)(s1.ElapsedMilliseconds * 1000000) / _max).ToString("0.00 ns"));
    }

    public int RunTest()
    {
        return EventHorizonBlazorInterop.Get<int>(
            "getPrimitive",
            "result"
        );
    }
}
