@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    display: grid;
    grid-template-columns: auto auto;
}

    .main .top-row {
        background-color: #f7f7f7;
        border-bottom: 1px solid #d6d5d5;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

.content {
    padding: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.testing-content {
    display: grid;
    grid-template-columns: 1fr;
}

@media only screen and (min-width: 600px) {
    .testing-content {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 900px) {
    .testing-content {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (min-width: 1200px) {
    .testing-content {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.--bold {
    font-weight: bold;
}

.--lighter {
    opacity: 0.6;
}

.green-badge {
    background-color: green;
    color: white;
    padding: 3px;
}
.red-badge {
    background-color: red;
    color: white;
    padding: 3px;
}