@page "/"
@using System.Diagnostics
@using EventHorizon.Blazor.Interop.Sample.Pages.Testing.MediatrTesting
@using EventHorizon.Blazor.Interop.Sample.Pages.Testing.JSRuntimeBridge
@using EventHorizon.Blazor.Interop.Sample.Pages.Testing.JsonTesting
@using EventHorizon.Blazor.Interop.Sample.Pages.Testing.DITesting
@using EventHorizon.Blazor.Interop.Sample.Pages.Testing.InteropTesting

<h1>Testing Tests</h1>

<div class="testing-content">
    <InteropCallTest />
    <InteropFuncTest />
    <InteropGetTest />
    <InteropNewTest />
    <InteropRunScriptTest />

    <MediatRPerformanceTest />
    <DIPerformanceTest />

    <FastJSRuntimeBridgeTest />
    <FastJSJsonRuntimeBridgeTest />
    <StandardJSRuntimeBridgeTest />

    <ClientJsonParseTest />
    <ClientJsonParseRawTest />
    <StandardJsonSerializerTest />
    <LargeJsonSerializerTest />
    <IndividualJsonSerializerTest />
</div>