@page "/interop/validations"

<h1>Interop Validations</h1>

<div class="testing-content">
    <InteropDecimalNumberClutureInfoTest />
    <InteropDecimalNumberTest />
    <InteropFloatNumberTest />
    <InteropIntNumberTest />
    <InteropLongNumberTest />
    <InteropNullableNegativeNumberTest />
</div>