<div>
    <h3>Primitive Result Callback Validation</h3>
    <div class="--lighter">Interop Func</div>
    <div>
        Status:
        @if (TestStatus == "Passed")
        {
            <span class="green-badge">@TestStatus</span>
        }
        else if (TestStatus == "Failed")
        {
            <span class="red-badge">@TestStatus</span>
        }
        else
        {
            <span>@TestStatus</span>
        }
    </div>
    <button class="run-btn" @onclick="HandleRunTest">Run</button>
</div>

<script suppress-error="BL9992">(function () {
        const callbackActions = [];
        window["InteropResultCallbackValidationTest"] = {
            trigger: (returnResult, predicate) => {
                return predicate(returnResult);
            }
        };
    })();</script>

@code {
    public string TestStatus = "Pending";

    private string testId => "InteropResultCallbackValidationTest";
    private bool initialized = false;

    private void HandleRunTest()
    {
        TestStatus = "Running...";
        if (!initialized)
        {
            var expectedArg = "testing-returned-result";
            var actionHandler = new ActionResultCallback<string, string>((arg1) =>
            {
                if (arg1 == expectedArg)
                {
                    return "found";
                }
                return "found-found";
            });


            var result = EventHorizonBlazorInterop.Func<string>(
                new string[] { testId, "trigger" },
                expectedArg,
                actionHandler
            );
            initialized = true;
            TestStatus = "Failed";
            if (result == "found")
            {
                TestStatus = "Passed";
            }
        }
    }
}
