@page "/callback/validation"
@using EventHorizon.Blazor.Interop.Sample.Pages.Testing.InteropTesting.Callbacks.Validation

<h1>Interop Callback Validation</h1>

<div class="testing-content">
    <InteropFuncCallbackValidationTest />
    <InteropFuncLiteralCallbackValidationTest />
    <InteropNewCallbackValidationTest />
    <InteropNewLiteralCallbackValidationTest />
</div>