@page "/callback/performance"

<h1>Interop Callback Performance Testing</h1>

<div class="testing-content">
    <InteropFuncCallback1ArgumentTest />
    <InteropFuncCallback1ArgumentClassTest />
    <InteropFuncCallback1ArgumentArrayTest />
    <InteropFuncCallback1ArgumentArrayClassTest />

    <InteropFuncCallback2ArgumentTest />
    <InteropFuncCallback2ArgumentClassTest />
    <InteropFuncCallback2ArgumentArrayTest />
    <InteropFuncCallback2ArgumentArrayClassTest />

    <InteropFuncCallback3ArgumentTest />
    <InteropFuncCallback3ArgumentClassTest />
    <InteropFuncCallback3ArgumentArrayTest />
    <InteropFuncCallback3ArgumentArrayClassTest />

    <InteropFuncCallback4ArgumentTest />
    <InteropFuncCallback4ArgumentClassTest />
    <InteropFuncCallback4ArgumentArrayTest />
    <InteropFuncCallback4ArgumentArrayClassTest />

    <InteropFuncCallback5ArgumentTest />
    <InteropFuncCallback5ArgumentClassTest />
    <InteropFuncCallback5ArgumentArrayTest />
    <InteropFuncCallback5ArgumentArrayClassTest />

    <InteropFuncCallbackVoidTest />
    <InteropFuncCallbackVoidClassTest />
    <InteropFuncCallbackVoidArrayTest />
    <InteropFuncCallbackVoidArrayClassTest />


    <InteropFuncLiteralCallback1ArgumentTest />
    <InteropFuncLiteralCallback1ArgumentClassTest />
    <InteropFuncLiteralCallback1ArgumentArrayTest />
    <InteropFuncLiteralCallback1ArgumentArrayClassTest />

    <InteropFuncLiteralCallback2ArgumentTest />
    <InteropFuncLiteralCallback2ArgumentClassTest />
    <InteropFuncLiteralCallback2ArgumentArrayTest />
    <InteropFuncLiteralCallback2ArgumentArrayClassTest />

    <InteropFuncLiteralCallback3ArgumentTest />
    <InteropFuncLiteralCallback3ArgumentClassTest />
    <InteropFuncLiteralCallback3ArgumentArrayTest />
    <InteropFuncLiteralCallback3ArgumentArrayClassTest />

    <InteropFuncLiteralCallback4ArgumentTest />
    <InteropFuncLiteralCallback4ArgumentClassTest />
    <InteropFuncLiteralCallback4ArgumentArrayTest />
    <InteropFuncLiteralCallback4ArgumentArrayClassTest />

    <InteropFuncLiteralCallback5ArgumentTest />
    <InteropFuncLiteralCallback5ArgumentClassTest />
    <InteropFuncLiteralCallback5ArgumentArrayTest />
    <InteropFuncLiteralCallback5ArgumentArrayClassTest />

    <InteropFuncLiteralCallbackVoidTest />
    <InteropFuncLiteralCallbackVoidClassTest />
    <InteropFuncLiteralCallbackVoidArrayTest />
    <InteropFuncLiteralCallbackVoidArrayClassTest />


    <InteropNewCallback1ArgumentTest />
    <InteropNewCallback2ArgumentTest />
    <InteropNewCallback3ArgumentTest />
    <InteropNewCallback4ArgumentTest />
    <InteropNewCallback5ArgumentTest />

    <InteropNewCallbackVoidTest />
    
    <InteropNewLiteralCallback1ArgumentTest />
    <InteropNewLiteralCallback2ArgumentTest />
    <InteropNewLiteralCallback3ArgumentTest />
    <InteropNewLiteralCallback4ArgumentTest />
    <InteropNewLiteralCallback5ArgumentTest />

    <InteropNewLiteralCallbackVoidTest />

    <InteropFuncCallbackWithClassArgumentsTest />
    <InteropFuncLiteralCallbackWithClassArgumentsTest />
    <InteropNewCallbackWithClassArgumentsTest />
</div>