@page "/promise/performance"

<h1>Interop Promise Performance Testing</h1>

<div class="testing-content">
    <InteropPromiseTest />
    <InteropPromiseClassTest />
    <InteropPromiseArrayTest />
    <InteropPromiseArrayClassTest />
</div>