@page "/result-callback/validation"

<h1>Interop Result Callback Validation Testing</h1>

<div class="testing-content">
    <InteropResultCallbackValidationTest />
    <InteropResultClassCallbackValidationTest />
    <InteropResultArrayCallbackValidationTest />
    <InteropResultArrayClassCallbackValidationTest />
</div>